/* design for mobile  */
@media screen and (max-width: 576px) {
     /* header desing  */
    .main_contain{
        max-width:100%;
    }

    .header_contant, .menu_items {
        flex-direction: column;
    }

    #header-style{
       box-shadow: none;
    }
    
/* hero secton start  */

.hero_min_contant{
    flex-direction: column-reverse;
    text-align: center;

}

.hero_image{
    width: 100%;

}

.hero_image img{
    width: 90%;
    text-align: center;


}

.hero_contant{
    width: 100%;
    

}

/* gamer secton start  */





}






/* Desing for tab  */
@media screen and (min-width: 578px) and (max-width: 1169px) {
    /* header desing     */
    .main_contain{
        max-width:100%;
    }


    .header_contant, .menu_items {
        flex-direction: column;
    }
     
    #header-style{
        box-shadow: none;
     }
     
/* hero secton start  */



}