@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/* shared design  */
.main_contain {
    width: 1200px;
    margin: auto;
}

.prim_btn1 {
    font-size: 18px;
    font-weight: 500;
    background-color: #f75edb;
    color: white;
    padding: 12px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;

}

.prim_btn2 {
    font-size: 18px;
    font-weight: 500;
    background-color: #00d3e2;
    color: white;
    padding: 12px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;


}





/* header design start */

#header-style {
    background: rgb(255, 255, 255);
    box-shadow: 5px 10px 10px 8px #f7f7f7;
}


.header_contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.site_logo {
    display: flex;
    align-items: center;

}

.logo_text {
    font-size: 32px;
    font-weight: 800;
    padding-left: 15px;
}


.menu_items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu_items li {
    list-style: none;
    padding-right: 15px;
    font-size: 18px;

}

.flo_bt {
    display: flex;
    gap: 15px;
    font-size: 18px;
    background: #E7E6E9;
    padding: 0px 0px 0px 20px;
    height: 55px;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;

}

.head_icon {
    margin-bottom: -5px;

}


/* hero secton start  */

.hero_min_contant {
    display: flex;
    justify-content: space-between;
    padding: 10px;


}

.hero_contant {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;



}

.hero_title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.big_tital {
    font-size: 70px;
    font-weight: 900;
    background: -webkit-linear-gradient(#f75edb, #b447fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -40px;
}

.hero_list {
    list-style:none;
    margin-top:-30px;
    margin-bottom: 10px;


}

.list_icon {
    margin-bottom: -3px;


}

.hero_list p {
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #534C64;
}


.hero_b{
    margin-left: 10px;

}


.hero_image {
    width: 50%;
}

.hero_image img {
    width: 100%;

}




/* hero secton end  */



/* gamer secton start  */
.game_background {
    background-color: #FFF9FC;
    margin-top: -12px;
}


.gamer_contaner{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;



}

.game_img{
    max-width: 60%;

}

.game_image{
    width: 100%;

}

.game_contant{
    width: 40%;
    text-align: end;

}

.gamer_tital{
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(#f75edb, #b447fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.pera_text{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

}
.game_text{

}

.our {
    font-size: 18px;
    padding-top: 15px;
    font-weight: 500;
    color:#534C64;

}

.every h2{
    color:#534C64 ;
    margin-top: -20px;

}

/* gamer secton end  */

/* video secton start  */

.video_head{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
   

}

.video_tital{
    font-size: 40px;
    margin-bottom:-10px;


} 

.video_boxs{
    display: flex;
    gap: 30px;
    text-align: start;
    margin-bottom: 50px;


}

.vd_img{
    max-width: 100%;

}
.vd_textp{
    font-weight: 600;
}

/* video secton end  */


/* Play Instantly No Downloads start */

.paly_contant{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 20px;


}

.play_texts{
    margin-top: 120px;
    margin-right: 100px;
    text-align: end;
    width: 50%;

}

.play_pic{
    width: 40%;
}

.min_side_pic {
    width: 40%;
    margin-top: -150px;
    margin-left: -60px ;

}



/* Play Instantly No Downloads end */

/* careers start  */

.careers_bk{
    background-color:#FF42A5;
    background-image:url(/images/Group\ 65.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;





}

.careers_contant{
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;



}

.careers_text{
    margin-right: 50%;





}

.cr_had{
    font-size: 30px;
    font-weight: 800;
    color: white;


}

.cr_details{
    color: white;

}

.list_cr{
    display: flex;
    gap: 10px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;

}

.list_1 li{
    list-style: none;
    text-align: start;
}

.list_2 li{
    list-style: none;
    text-align: end;
}

.cr_btn {
    background-color: white;
    color: black;


}




.careers_img{
    width: 50%;
}
.careers_img img{
    display:none;

    
}



/* careers end  */



/* logo card desing start  */


.l_back{
    background-color:#FFF9FC;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

.lcard{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 0px 10px;
    border-radius: 40px;
    border: 1px solid white;
}

.lcard:hover{
    border: #FF42A5 1px solid;
    cursor: pointer;
}




.lcard img{
    width: 50px;
    height: 50px;
    display: inline;

}

.lcard p{
        display: inline;
        padding: 10px;



}



/* logo card desing end */


/* footer desing  */

#footer-clor{
    background: #0B0223;
}

.footer_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.footer_menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    color: white;
    list-style: none;
    margin-top: 20px;
    

}
